.avatar {
  height: 200px;
  width: 200px;
  border-style: dashed;
  border-radius: 25px;
}
.display-linebreak {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  white-space: pre-line;
  text-align: left;
  align-self: center;
}
h1 {
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  line-height: 1em;
  width: 80%;
}

body {
  background-color: black;
  color: white;
}

@media (max-width: 540px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
